body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  color: #333;
}
.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
}
.table-dark {
  color: #fff;
}
.list-group-item {
  border-color: #fff;
  background-color: #000;
}
.login-box {
  background-color: rgba(0, 0, 0, 0);
}
.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}
.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}
.container h1{
  width: 920px;
  margin: 0 auto 50px auto;
  padding: 0.5em;/*文字まわり（上下左右）の余白*/

}
.container h2 {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 40px;
  }

/*--create.blede.phpのスタイル変更*/
.stars{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin-right: 280px;
  font-size: 20px;
}
.stars input[type='radio']{
  display: none;
  position: left;
}
.stars label{
  padding-left:20px;
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
}
.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
  color: #fc0;
}

.col-md-7{
  font-size: 20px;
  margin-right: 200px;
}

.col-md-3{
  font-size: 20px;
}
 /*--index.blede.phpのスタイル変更*/
.col-md-2{
  font-size: 20px;

}
/*--検索ボタンのスタイル変更*/
.btn-primarys {
  color: #fff;
  background-color: #3490dc;
  border-color: #3490dc;
  text-align:center;
  position:relative;
  left:420px;
  bottom:37px;
}
.col-md-9{
  font-size: 18px;
  padding-right: 200px;
  }

/* 画像サイズ変更 */
.img-content{
  text-align:center;
}
/* .img-size {
  width: 90%;
} */
.content-box {
  border-radius: 25px;
  border: 2px solid rgba(187, 205, 252, 0.7);
  padding: 10px;
  margin-bottom:10px;
}

/* 画像カルーセル表示 */
.slider { width: 600px; min-height: 400px; margin: 0 auto 50px;}
.slider img{ width: 100%; }
img {
  display:block;
	width:100%;
	/* height:600px; */
	text-align:center;
	position:relative;
	overflow:hidden;
	border:#CCC solid 2px;
}

/* headermenu */
.header-navigation {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;

}
.header-navigation:after{
  clear: both;
  display: block;
  content: " ";
}
.header-navigation li {
  float: left;
  padding: 0 70px;
  text-align: center;
  list-style-type: none;
  font-size: 20px;

}
.header-navigation li a {
  color: #333;
  text-decoration: none;
}

/* infomation */
.text-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.card-contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  background-color: #f6f6f6;

}

.left-contents {
  width: 600px;
  margin-right: 20px;
  float: left;
}
.information-list {
  list-style-type: none;
  padding-left: 0;
}
.information-list li {
  margin-bottom: 10px;
}

/* コンセプト文 */
.m-concept-read--index {
  max-width: 370px;
  margin-top: 50px;
}
.m-concept-read {
  max-width: 550px;
  font-size: 20px;
  margin: 70px auto 0 auto;
}
 .m-concept-siteLogo {
    width: 211px;
    height: 54px;
    background-size: 500px 84px;
    margin: 35px auto;
 }

 /* タイトル文 */
    .m-concept-title {
      text-align: center;
      font-size: 44px;
      font-weight: normal;
      letter-spacing: 0.1em;
      margin: 0 auto;
  }
  .h3 {
    font-size: 2em;
    margin: 0.67em 0;
}

 /* フッターナビゲーション */
.l-footerNav {
  background-color: #939899;
  padding: 30px 30px;
  text-align: center;

}
.l-container.l-container--full {
  max-width: 100%;
  padding: 0;
}

.l-container {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  box-sizing: content-box;

}
.m-navigation--center ul {
  text-align: center;
}
.m-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
}
.m-navigation li:first-child {
  margin-left: 0;
  font-size: 18px;
}
.m-navigation li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  margin-left: 40px;
  color:white;
}

/* フッターのスタイル */
.l-footer {
  background-color: #fff;
  padding: 35px 0;
}
.l-container.l-container--narrow {
  max-width: 786px;
}
.l-container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  box-sizing: content-box;
  padding: 0 7%;
}
.l-container.l-container--narrow {
  max-width: 786px;
}
.l-container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  box-sizing: content-box;
  padding: 0 7%;
}
.l-footer .m-copyRight {
    margin-top: 2rem;
    font-size: 12px;
    color: black;
}
.m-copyRight {
  margin: 0;
  font-size: 12px;
  color:#fff;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}
.m-navigation--center li a {
  padding: 0;
  border: none;
}
.m-navigation li a {
  color: #fff;
  font-size: 14px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

/*Cropperを使ってトリミングをしながら画像アップロード  */

#cropperWrapper{
  width: 600px;
}
#croppeWrapper:after{
  content: '';
  display: block;
  clear: both;
}
.cropperContent{
  float: left;
  margin: 10px;
  display: none;
}
#cropperFile{
  width: 100%;
}
#cropperPreview{
  text-align: center;
  overflow: hidden;
}
#cropperPreview,
#cropperPreview img{
  width: 100px;
  height: 100px;
}
#cropperCanvas{
  width: 400px;
  height: 200px;
}

/*マルチカラム ― タイルレイアウト  */
.item {
  border-radius: 20px;
  background: #edf;
  padding: 15px;
  margin: 10px;
  text-align: center;
}
.img-contents {
  max-width: 100%;
  height: auto;
}
@media ( min-width : 600px ){
    .flexbox {
    display: flex;
    flex-wrap: wrap;
    }
  .item {
    width: 30%;
  }
}

.background {
  position: absolute;
  display: block;
  top: 300px;
  left: 0;
  z-index: 0;
}

/* 水玉模様Default Styling */
.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  padding:100px;

}
.boxs {
  background: #fff;
  margin-top: 100px;
  border-radius: 5px;
  padding: 36px;
  position: absolute;
  z-index: 5;
      font-size: 44px;
      font-weight: normal;
      letter-spacing: 0.1em;
      margin: 0 auto;
}
a {
  color: #0bd;
}

/* TOPページに戻るボタン */
element.style {
}
.l-section.l-section--backToTop {
    padding: 110px 0 140px;
}
.l-section {
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
}
.m-backToTop {
  text-align: center;
}
.m-button--back {
  width: 210px;
  background: url(../img/button-arrow-back@2x.png) no-repeat;
  background-size: 7px 12px;
  background-position: 14px 50%;
}
.m-button {
  display: inline-block;
  width: 162px;
  height: 46px;
  line-height: 48px;
  font-size: 14px;
  color: #13191b;
  border: 1px solid #13191b;
  text-align: center;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}

.l-sections {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 110px;
}
  .rows.col-md-8 mx-auto .col-md-8 .col-md-4{
    background-color: #fff;
}

.m-shareButtons-item {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    font-size: 1rem;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0 15px;
}
.m-button--twitter {
  color: #70bdd3;
  border-color: #70bdd3;
}
.m-button--facebook {
  color: #4871a9;
  border-color: #4871a9;
}

/* ページトップ戻る */
#page-top {
  position: fixed;
  bottom: 30px;
  right: 180px;
  font-size: 77%;
}
#page-top a {
  background: rgb(0, 255, 76);
  text-decoration: none;
  color: #fff;
  width: 90px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}
#page-top a:hover {
  text-decoration: none;
  background: #999;
}

.hissu{
  font-size: 14px;
  white-space: nowrap;
}
