body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  color: #333;
}
.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
}
.table-dark {
  color: #fff;
}
.list-group-item {
  border-color: #fff;
  background-color: #000;
}
.login-box {
  background-color: rgba(0, 0, 0, 0);
}
.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}
.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}
.container h1{
  width: 920px;
  margin: 0 auto 50px auto;
  background: #c2edff;/*背景色*/
  padding: 0.5em;/*文字まわり（上下左右）の余白*/
  border-bottom: solid 3px #364e96;/*下線*/
}
.container h2 {
  background: #c2edff;/*背景色*/
    margin: 0 0 10px 0;
    padding: 0;
  }
/*--create.blede.phpのスタイル変更*/
.stars{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin-right: -15px;
}
.stars input[type='radio']{
  display: none;
  position: left;
}
.stars label{
  padding-left:20px;
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
} 
.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
  color: #fc0;
}
.col-md-3{
  font-size: 18px;
}
 /*--index.blede.phpのスタイル変更*/
.col-md-2{
  font-size: 20px;
}
.col-md-10{
font-size: 18px;
}
/* 画像サイズ変更 */
.img-content{ 
  text-align:center;
}
/* .img-size {
  width: 90%;
} */
.content-box {
  border-radius: 25px;
  border: 2px solid rgba(187, 205, 252, 0.7);
  padding: 10px;
  margin-bottom:10px;
}

/* 画像カルーセル表示 */
.slider { width: 600px; height: 400px; margin: 0 auto 50px;}
.slider img{ width: 100%; }

img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* 画像の縦横比を維持したままボックスを埋める時 */
}
